@font-face {
    font-family: ALK-life;
    src: url(../assets/font/alk_life.otf);
}

@font-face {
    font-family: dejavu-sans;
    src: url(../assets/font/bpg_dejavu_sans.otf);
}

body {
    font-family: ALK-life;
    margin: 0;
    padding: 0;
}

header {
    background-color: #D9D9D9;
    display: flex;
    padding: 50px 130px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    color: #717276;
}

.header-nav ul {
    display: flex;
    gap: 38px;
}

.books {
    color: #A62B28;
    text-decoration: none;
}

main {
    margin: 160px 130px
}

.heading {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-top: 160px;
    margin-bottom: 40px;
}

.icon {
    height: 100px;
    width: 100px;
    background-color: #A62B28;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: dejavu-sans;
    font-size: 32px;
    color: #717276;
}

.container {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.image-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h6 {
    font-family: dejavu-sans;
    font-size: 24px;
    color: #717276;
    margin: 0;
    padding-top: 50px;
}

span {
    font-family: dejavu-sans;
    font-size: 24px;
    font-weight: 700;
}

p {
    margin: 0;
    font-size: 24px;
}

.authors {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: #D9D9D9;
    padding: 70px 130px;
    display: flex;
    justify-content: space-between;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
}

.footer-icons {
    display: flex;
    gap: 25px;
    margin-top: 13px;
}

@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .header-nav ul {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    
    main {
        margin: 160px 0px;
    }

    main img {
        width: 100%;
        object-fit: cover;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .authors {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    footer {
        display: flex;
        flex-direction: column;  
        gap: 30px;
        padding: 100px;
    }
}